<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>

{{!--
<script>
    window.__SJ_MESSAGE__ =
        'Um Ihnen das bestmögliche Benutzererlebnis zu bieten, verwendet diese Website Cookies. Indem Sie auf dieser Website weitersurfen, akzeptieren Sie die Verwendung von Cookies.'
    window.__SJ_ACCEPT_BTN_TEXT__ = 'Erlauben'
    window.__SJ_REJECT_BTN_TEXT__ = 'Ablehnen'
</script> --}}
{{!--
<script src="https://cdn.jsdelivr.net/gh/sprucejoy/cookie-consent-autoblock-gdpr/cookie-consent.js"
    crossorigin="anonymous">
    </script> --}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6FBZWT8YRW"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6FBZWT8YRW');
</script>

<body>
    {{{ body }}}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</body>

</html>